/* --- Hodograph styles --- */

.hodorings {
    stroke: lightgray;
    stroke-width: 1px;
    fill: none;
    pointer-events: none;
    vector-effect: non-scaling-stroke;
}

.hodolabels {
    font-size: 14px;
    text-anchor: middle;
    fill: '#666';
    opacity: 0.7;
    stroke: var(--font-color-primary);
}

/* .hodoline {
   stroke: lightblue;
   fill: none;
   opacity: 0.5;
} */

.hodoline.mean {
    /*  stroke: var(--2d-line-contrast3); */
    opacity: 1;
    stroke-width: 4px;
    fill: none;
    vector-effect: non-scaling-stroke;
    /*stroke: black; */
}
.hodoline.member {
    opacity: 0.5;
    stroke-width: 2px;
    stroke: gray;
    fill: none;
    pointer-events: stroke;
    vector-effect: non-scaling-stroke;
    transition:
        stroke 0.1s ease,
        stroke-width 0.1s ease;
}

.hodoline.member:hover {
    stroke: yellow;
    stroke-width: 2px;
    opacity: 1;
}

.hodo-datapoint {
    stroke: black;
    fill: black;
    stroke-width: 2px;
    opacity: 1;
    pointer-events: stroke;
}

.hodo-datapoint:hover {
    stroke: yellow;
    fill: yellow;
    stroke-width: 4px;
    opacity: 1;
}

.hodo-bunkers {
    stroke: red;
    fill: red;
    stroke-width: 1px;
    opacity: 1;
    pointer-events: fill;
}

.hodo-bunkers:hover {
    stroke: yellow;
    fill: yellow;
}

/* .hododot {
    stroke: #000;
    opacity: 0.8;
}
.hododot.hgt0 {
    fill: gray;
}
.hododot.hgt1 {
    fill: #225ea8;
}
.hododot.hgt3 {
    fill: #41b6c4;
}
.hododot.hgt6 {
    fill: #a1dab4;
}
.hododot.hgt9 {
    fill: #ffffcc;
}*/

.hodo-legend {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 12px;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hodo-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.hodo-legend-colorbox {
    width: 16px;
    height: 12px;
    display: inline-block;
    margin-right: 6px;
    border: 1px solid #000;
}

.hodo-tooltip {
    position: fixed; /* This is crucial for following the mouse */
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 12px;
    /* Prevents the tooltip from blocking mouse events on the lines */
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* --- End Hodograph styles --- */
