/* --- Hodograph styles --- */
:root {
    --bg: #fff;
    --text: #333;
    --ring-color: lightgray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #222;
        --text: #fff;
        --ring-color: lightgray;
    }
}

.hodobox {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.hodorings {
    stroke: var(--ring-color);
    stroke-width: 1px;
    fill: none;
    pointer-events: none;
    vector-effect: non-scaling-stroke;
}

.hodolabels {
    font-size: 14px;
    text-anchor: middle;
    fill: var(--text);
    opacity: 0.7;
    stroke: none;
}

.hodoline.mean {
    opacity: 1;
    stroke-width: 4px;
    fill: none;
    vector-effect: non-scaling-stroke;
}
.hodoline.member {
    opacity: 0.5;
    stroke-width: 2px;
    stroke: gray;
    fill: none;
    pointer-events: stroke;
    vector-effect: non-scaling-stroke;
    transition:
        stroke 0.1s ease,
        stroke-width 0.1s ease;
}

.hodoline.member:hover {
    stroke: yellow;
    stroke-width: 2px;
    opacity: 1;
}

.hodo-datapoint {
    stroke: black;
    fill: black;
    stroke-width: 2px;
    opacity: 1;
    pointer-events: stroke;
}

.hodo-datapoint:hover {
    stroke: yellow;
    fill: yellow;
    stroke-width: 4px;
    opacity: 1;
}

.hodo-bunkers {
    stroke: red;
    fill: red;
    stroke-width: 1px;
    opacity: 1;
    pointer-events: fill;
}

.hodo-bunkers:hover {
    stroke: yellow;
    fill: yellow;
}

.hodo-legend {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 12px;
    color: black;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hodo-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.hodo-legend-colorbox {
    width: 16px;
    height: 12px;
    display: inline-block;
    margin-right: 6px;
    border: 1px solid #000;
}

/* --- End Hodograph styles --- */
